.button-slider{
  display: inline-block;
  vertical-align: middle;
  font-family:"TTLakes Meduim";
  font-size: 16px;
  border:none;
  padding: 0 1rem 1rem 1rem;
  margin: 0;
  letter-spacing: 0.01rem;
  background-color:transparent;
}
.image-slider{
  display: inline-block;
  vertical-align: middle;
  padding: 0 0.5rem 0rem 0.5rem;

}
