@import '../vars.scss';
.main-footer{
  display: flex;
  flex-direction: column;
  font-family:'TTLakes Regular';
  font-size: 14px;
  color:$textm;
  margin-top: 3rem;
  border-top: 0.05rem solid $decor;
  .main-footer__item{
    padding: 0.5rem 0 0.5rem 0;
    text-align: center;
  }
  .text-footer{
    margin: 0;
  }
  @media (min-width: 768px){
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    .main-footer__item:first-child{
      text-align: start;
      padding-left: 2rem;
    }
    .main-footer__item:last-child{
      text-align: end;
      padding-right:2rem;
    }
  }


}
