$main: #ffffff;
$bgrey: #F8F8F8;
$title: #1B1C21;
$textm: #7E7E82;
$devider:#EAEAEA;
$active: #B8FFEC;
$decor: #41F6D7;
$cardsbrand:#f2f2f2;
$swiperbullet:#979797;
$swiperbulletacvtive: #B5B6BC;
$btnprice:#FF3E79;
